 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,500&family=Poppins:ital,wght@0,300;0,500;1,700&family=Ubuntu:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap'); 





/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 76%;
  position: absolute;
  /* margin-right: 0;
  margin-top: 4rem; */
  margin: 4rem 3.5rem auto 3rem;
  /* font-size: 15px; */
}

.content-fluid{
    /* margin: 4rem 3.5rem auto 3rem; */
    /* margin-left: 3rem; */
}

.content-area{
}

h2{
    padding-bottom: 1.5rem;
    font-size: xx-large;
    font-weight: bold;
}


  /*Navigation Bar Title*/

.navbar-title {
  font-size: 80%;
  margin-left: 2.5rem;
  font-weight: bold;
}



/* Sidebar Styles*/

#sidebar {
z-index: 1000;
position: fixed;
left: 250px;
width: 270px;
height: 100%;
margin-left: -250px;
overflow-y: auto;
 /* background: #251D3A;  */
background: #1D1125;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#sidebar header {
background-color: #1D1125;
font-size: 150%;
line-height: 5rem;
text-align: center;
}

#sidebar header a {
color: #fff;
display: block;
text-decoration: none;
font-weight: bolder;
}


#sidebar .nav{
min-height: fit-content;
font-family: 'Quicksand';
font-weight: 600;
}

#sidebar .nav a{
background: none;
color: #A4A6B3;
font-size: 78%;
padding: 16px 24px;
}

#sidebar .nav a:hover{
color: white;
text-decoration:none;
}

#sidebar .nav a i{
margin-right: 20px;
margin-top: 25px;
}

.profile-sec{
  margin-top: 15%;
}

.section-heading{
font-family: "Poppins";
font-weight: bolder;
}

#mI{
margin-left: 4rem;
}

#gES{
margin-left: 3.8rem;
}



/* Card */

/* .card{
  width: 16rem;
  margin-left: 3rem;
  margin: 1rem auto 2rem 3rem;
   /* //border: 2px solid red;  
  border-radius: 10px;
  box-shadow: 5px 4px 35px 2px rgba(0, 0, 0, 0.11);
}

.card:hover{
  opacity:0.7;
}

.card-text{
  text-align: center;
  font-size: large;
  font-family: 'Poppins';
  font-weight: 500;
}

.card-img-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

 