/*Navigation Bar Button*/

.navbar-title{
display: flex;
justify-content: space-between;
}

/* .nav-buttons-grp{
float: right;
} 

.nav-button-1{
  margin-left: 60%;
  margin-right: 2%;
  
}

.btn-primary {
  width: 20%;
  border-radius: 8px;
  background-color: #FFB259;
}

.btn-primary:hover{
  background-color:#fc9012;
}

.btn-secondary{
  width: 12%;
  border-radius: 8px;
  background-color:#1D1125;
  
}

.btn-secondary:hover{
  background-color:#6911a6;
} */


/* AddOns on Top Right */

 .user-image{
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 2px;
  width: 50px;
  height: 50px;
}

.support-text{
  margin-right: 2rem;
  color: #7D7D7D;
  font-weight: 500;
}

.add-on{
  margin-left: 68%;
  float: right;
}

.section-heading{
  font-size: xx-large;
  font-weight: bold;
}

.above-navbar{
  margin-bottom: 2rem;
}